<?xml version="1.0" encoding="utf-8"?>
<!-- TODO: Remove this file once the upstream XmlSchemaClassGenerator PR is merged
     and a new release is published with EnumCollection support.
     PR: https://github.com/mganss/XmlSchemaClassGenerator/pull/XXX -->
<configuration>
  <packageSources>
    <add key="local-xscgen" value="lib" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="local-xscgen">
      <package pattern="XmlSchemaClassGenerator-beta" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
